@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* BACKGROUND COLOURS */
  --bg-dark-navy: #36384d;
  --bg-white: #fff;

  /* TEXT COLOURS */
  --dark-navy: #242742;
  --error-vermillion: #ff6155;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg-dark-navy);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* ==========
 main.app
 ========== */
.app {
  background-color: var(--bg-white);
  border-radius: 0 0 2.25rem 2.25rem;
  width: 100%;
  max-width: 28.125rem;
  min-height: 100vh;
}

/* ==========
 section.hero
 ========== */
.hero {
  margin-bottom: 2.5rem;
}

.hero__img {
  width: 100%;
}
