@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* BACKGROUND COLOURS */
  --bg-dark-navy: #36384d;

  /* TEXT COLOURS */
  --dark-navy: #242742;
  --error-vermillion: #ff6155;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg-dark-navy);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
