@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@import "./components/Header/styles.css";
@import "./components/Calculator/styles.css";
@import "./components/About/styles.css";

:root {
  --blue: #345ff6;
  --dark-electric-blue: #5e6e85;
  --gunmetal: #253347;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: var(--white);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* ==========
 GLOBAL STYLES
 ========== */
img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  color: var(--gunmetal);
  font-weight: 600;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.3rem;
  letter-spacing: -2.4px;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.2rem;
  letter-spacing: -1.6px;
}

h3 {
  font-size: 2rem;
  line-height: 2.2rem;
  letter-spacing: -1.6px;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--dark-electric-blue);
}

input {
  display: block;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  color: var(--gunmetal);
  border-radius: 12px;
  border: 1px solid #d8e2e7;
  outline: none;
  background: var(--white);
  padding: 1.25rem 1.5rem;
  height: 4.3125rem;
  width: 100%;
}

@media (min-width: 90rem) {
  h1 {
    font-size: 4rem;
    line-height: 4.4rem;
    letter-spacing: -3.2px;
  }

  h2 {
    font-size: 3rem;
    line-height: 3.3rem;
    letter-spacing: -2.4px;
  }

  h3 {
    font-size: 3rem;
    line-height: 3.3rem;
    letter-spacing: -2.4px;
  }

  input {
    cursor: pointer;
  }

  input:focus {
    border: 0.0625rem solid var(--blue);
  }
}
