header {
  border-radius: 0px 0px 35px 35px;
  background: linear-gradient(290deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
  padding: 2rem 6.4% 13.5625rem;
  height: 40rem;
  margin-bottom: 34.5rem;
  position: relative;
}

.logo {
  margin: 0 auto 1.5rem auto;
}

.header__text-content {
  text-align: center;
}

.header__text-content h1 {
  margin-bottom: 1.5rem;
}

@media (min-width: 48rem) {
  header {
    padding: 2rem 5.59895833333% 20.375rem 5.078125%;
    margin-bottom: 17.3125rem;
  }

  .header__text-content {
    margin: 0 auto;
    max-width: 37.5rem;
  }
}

@media (min-width: 90rem) {
  header {
    padding: 4.6875rem 27.5694444444% 12.5rem 8.05555555556%;
    margin: 0 0 4.0625rem 1.66666666667%;
    width: 67.9166666667%;
    height: 46.0625rem;
    max-height: 46.0625rem;
  }

  .logo {
    margin: 0 0 7.9375rem;
  }

  .header__text-content {
    text-align: left;
    width: 47.5460122699%;
    min-width: 29.0625rem;
  }

  .header__text-content h1 {
    margin-bottom: 2.1875rem;
  }
}
