.calculator {
  border-radius: 1rem;
  background: var(--white);
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  padding: 1.5rem;
  position: absolute;
  top: 29.4375rem;
  left: 50%;
  transform: translateX(-50%);
  width: 87.4666666667%;
  max-width: 25rem;
}

span.calculator__heading {
  display: block;
  color: var(--gunmetal);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -1.2px;
  margin-bottom: 1.5rem;
}

.input-container {
  position: relative;
  margin-bottom: 1rem;
}

.input-container:last-of-type {
  margin-bottom: 0;
}

.input-container label {
  display: block;
  color: var(--dark-electric-blue);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3125rem;
  margin-bottom: 0.5rem;
}

.input-container span {
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -1.2px;
  position: absolute;
  top: 50px;
  right: 1.5rem;
}

/* ==========
 METRIC UNITS
 ========== */
.metric-units__container {
  margin-bottom: 1.5rem;
}

/* ==========
 IMPERIAL UNITS
 ========== */
.imperial-units__flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.imperial-units__flex-container:last-of-type {
  margin-bottom: 1.5rem;
}

.imperial-units__container .input-container {
  width: 47.1428571429%;
}

.imperial-units__container .input-container:last-of-type {
  margin-top: 0.5rem;
}

.imperial-units__container .input-container:last-of-type span {
  top: 1.25rem;
}

/* ==============================
 RESULTS
 ============================== */
.results-container {
  border-radius: 1rem;
  background: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
  padding: 2rem;
}

.results-container p {
  color: var(--white);
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

/* ==========
 WELCOME TEXT
 ========== */
.result-container__welcome-text .welcome-heading {
  display: block;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  margin-bottom: 1rem;
}

@media (min-width: 48rem) {
  .calculator {
    padding: 2rem;
    top: 22.125rem;
    width: 89.3229166667%;
    max-width: 42.875rem;
  }

  span.calculator__heading {
    margin-bottom: 2rem;
  }

  .input-container {
    margin-bottom: 0;
  }

  /* ==========
  METRIC UNITS
  ========== */
  .metric-units__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .metric-units__container .input-container {
    width: 48.0707395498%;
  }

  /* ==========
  IMPERIAL UNITS
  ========== */
  .imperial-units__flex-container {
    margin-bottom: 2rem;
  }

  .imperial-units__flex-container:last-of-type {
    margin-bottom: 2rem;
  }

  .imperial-units__container .input-container {
    width: 47.6%;
  }

  .imperial-units__flex-container {
    margin-bottom: 1.5rem;
  }

  .imperial-units__container .input-container:last-of-type {
    margin-top: auto;
  }

  /* ==============================
  RESULTS
  ============================== */
  .results-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10rem 999px 999px 10rem;
  }
}

@media (min-width: 90rem) {
  .calculator {
    top: 10.375rem;
    left: 72.8016359918%;
    transform: unset;
    width: 57.6687116564%;
    min-width: 35.25rem;
    max-width: unset;
  }
}
